.ReadBtn {
  height: 100%;
  width: 66%;
  font-size: 1em;
  outline: none;
  border: none;
  margin-right: 1px;
  cursor: pointer;
}

.ReadBtn:hover {
  border: 3px solid rgb(230, 230, 230);
}

.Read {
  background-color: #A5D6A7;
}

.NotRead {
  background-color: #4CAF50;
}