.BookForm {
  background-color: rgb(255, 255, 255);
  width: 50%;
  position: fixed;
  margin: auto;
  left: 25%;
  top: 20%;
  padding: min(3%, 30px);
  border-radius: 10px;
  color: #0a7800;
  z-index: 10;
  font-size: 1.4em;
}

.BookForm > div > label {
  font-size: 1.4em;
}

input[type="text"],
input[type="number"] {
  border: none;
  outline: none;
  border-bottom: 2px dotted rgb(204, 203, 203);
  width: 100%;
  font-size: 0.8em;
  margin: 10px 0 40px 0;
}

input[type="text"]:focus,
input[type="number"]:focus {
  border-bottom: 2px solid #00780a;
}

input[type="radio"] {
  margin: 10px 5px 10px 5px;
  transform: scale(1.1);
}

.RadioLabel {
  color: black;
  font-size: 0.7em;
}

.Submit,
.Cancel {
  color: white;
  margin-top: 20px;
  width: 49%;
  height: 50px;
  font-size: 1em;
  outline: none;
  border: 1px solid white;
  padding: none;
}

.Submit {
  background-color: #2f993d;
  cursor: pointer;
}

.Cancel {
  background-color: #1b5e20;
  color: white;
  margin-left: auto;
  cursor: pointer;
}

.Submit:hover,
.Cancel:hover {
  background-color: #75be7b;
}

@media only screen and (max-width: 750px) {
  .BookForm {
    width: 90%;
    left: 2%;
  }
}
